#page {margin-top: -21px;}
select option:disabled { display : none;}
.title-header-bl {
    background: #eee;
    overflow: hidden;
    clear: both;
}
.title-header-bl h2 {
    float: left;
    line-height: 38px;
    padding-left: 10px;
    font-size: 16px;
    margin: 0;
    color: #000;
    font-weight: 600;
}
.title-header-bl span {
    float: right;
    background: #CD2228;
}
.title-header-bl span i {
    font-size: 26px;
    color: #fff;
    padding: 6px 15px;
}
.fa-angle-right:before {
    content: "\f105";
}
ul.menuSub {
    margin: 0;
    padding: 0;
}
ul.menuSub li.blue {
    background: #00A8AB;
}
ul.menuSub li {
    display: block;
    margin-top: 10px;
    list-style: none;
}
ul.menuSub li a {
    padding: 6px 12px;
    display: block;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}
ul.menuSub li i {
    padding-right: 5px;
}
.fa-angle-double-right:before {
    content: "\f101";
}